<h1>This is the page for {{name}} the {{animal}}</h1>
<p>{{name}} is {{age}} years old</p>
<p>Is {{name}} vaccinated? {{vaccinated}}</p>
<p>Is {{name}} fixed? {{fixed}}</p>

{{#if owner}}
  <b>{{name}} found a good home</b>
{{else}}
  <a href='/pets/adopt/{{id}}'>Adopt {{name}}</a>

{{/if}}

<p>{{name}} was found by {{method}}</p>